@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue dans LoveMirroring</h1>
    <p>Enregistrez-vous pour commencer!</p>
</div>
