USE [master]
GO
/****** Object:  Database [LoveMirroring]    Script Date: 29-03-2020 18:11:14 ******/
CREATE DATABASE [LoveMirroring]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LoveMirroring', FILENAME = N'D:\Programmes\SQLServer2017\MSSQL14.MSSQLSERVER\MSSQL\DATA\LoveMirroring.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LoveMirroring_log', FILENAME = N'D:\Programmes\SQLServer2017\MSSQL14.MSSQLSERVER\MSSQL\DATA\LoveMirroring_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LoveMirroring].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LoveMirroring]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ANSWER]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANSWER](
	[ANSWERID] [smallint] IDENTITY(1,1) NOT NULL,
	[PROFILID] [smallint] NOT NULL,
	[QUESTIONID] [smallint] NOT NULL,
	[ANSWERTEXT] [varchar](128) NOT NULL,
	[ANSWERVALUE] [smallint] NOT NULL,
 CONSTRAINT [PK_ANSWER] PRIMARY KEY CLUSTERED 
(
	[ANSWERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[Birthday] [datetime2](7) NOT NULL,
	[Firstname] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[SEXEID] [smallint] NOT NULL,
	[SUBSCRIPTIONID] [smallint] NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CORPULENCE]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CORPULENCE](
	[CORPULENCEID] [smallint] IDENTITY(1,1) NOT NULL,
	[CORPULENCENAME] [char](32) NOT NULL,
 CONSTRAINT [PK_CORPULENCE] PRIMARY KEY CLUSTERED 
(
	[CORPULENCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXTERNALSERVICE]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXTERNALSERVICE](
	[EXTERNALSERVICEID] [smallint] IDENTITY(1,1) NOT NULL,
	[EXTERNALSERVICENAME] [char](32) NOT NULL,
	[EXTERNALSERVICESTATUS] [bit] NOT NULL,
 CONSTRAINT [PK_EXTERNALSERVICE] PRIMARY KEY CLUSTERED 
(
	[EXTERNALSERVICEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HAIRCOLOR]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HAIRCOLOR](
	[HAIRCOLORID] [smallint] IDENTITY(1,1) NOT NULL,
	[HAIRCOLORNAME] [char](32) NOT NULL,
 CONSTRAINT [PK_HAIRCOLOR] PRIMARY KEY CLUSTERED 
(
	[HAIRCOLORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HAIRSIZE]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HAIRSIZE](
	[HAIRSIZEID] [smallint] IDENTITY(1,1) NOT NULL,
	[HAIRSIZENAME] [char](32) NOT NULL,
 CONSTRAINT [PK_HAIRSIZE] PRIMARY KEY CLUSTERED 
(
	[HAIRSIZEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MESSAGE]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESSAGE](
	[MESSAGEID] [smallint] IDENTITY(1,1) NOT NULL,
	[ID] [nvarchar](450) NOT NULL,
	[TALKID] [smallint] NOT NULL,
	[MESSAGEDATE] [datetime] NOT NULL,
 CONSTRAINT [PK_MESSAGE] PRIMARY KEY CLUSTERED 
(
	[MESSAGEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUSIQUE]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSIQUE](
	[MUSIQUEID] [smallint] IDENTITY(1,1) NOT NULL,
	[MUSIQUENAME] [char](32) NOT NULL,
 CONSTRAINT [PK_MUSIQUE] PRIMARY KEY CLUSTERED 
(
	[MUSIQUEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NEWSLETTER]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEWSLETTER](
	[NEWSLETTERID] [smallint] IDENTITY(1,1) NOT NULL,
	[NEWSLETTERNAME] [char](32) NOT NULL,
 CONSTRAINT [PK_NEWSLETTER] PRIMARY KEY CLUSTERED 
(
	[NEWSLETTERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PICTURE]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PICTURE](
	[PICTUREID] [smallint] IDENTITY(1,1) NOT NULL,
	[ID] [nvarchar](450) NOT NULL,
	[PICTUREVIEW] [image] NOT NULL,
 CONSTRAINT [PK_PICTURE] PRIMARY KEY CLUSTERED 
(
	[PICTUREID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PICTURETAG]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PICTURETAG](
	[PICTUREID] [smallint] NOT NULL,
	[TAGID] [smallint] NOT NULL,
 CONSTRAINT [PK_PICTURETAG] PRIMARY KEY CLUSTERED 
(
	[PICTUREID] ASC,
	[TAGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PREFERENCE]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PREFERENCE](
	[PREFERENCEID] [smallint] IDENTITY(1,1) NOT NULL,
	[SEXUALITYID] [smallint] NOT NULL,
	[RELIGION] [bit] NOT NULL,
	[AGE] [bit] NOT NULL,
	[CORPULENCE] [bit] NOT NULL,
 CONSTRAINT [PK_PREFERENCE] PRIMARY KEY CLUSTERED 
(
	[PREFERENCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PREFERENCECORPULENCE]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PREFERENCECORPULENCE](
	[PREFERENCEID] [smallint] NOT NULL,
	[CORPULENCEID] [smallint] NOT NULL,
 CONSTRAINT [PK_PREFERENCECORPULENCE] PRIMARY KEY CLUSTERED 
(
	[PREFERENCEID] ASC,
	[CORPULENCEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PREFERENCEHAIRCOLOR]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PREFERENCEHAIRCOLOR](
	[PREFERENCEID] [smallint] NOT NULL,
	[HAIRCOLORID] [smallint] NOT NULL,
 CONSTRAINT [PK_PREFERENCEHAIRCOLOR] PRIMARY KEY CLUSTERED 
(
	[PREFERENCEID] ASC,
	[HAIRCOLORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PREFERENCEHAIRSIZE]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PREFERENCEHAIRSIZE](
	[PREFERENCEID] [smallint] NOT NULL,
	[HAIRSIZEID] [smallint] NOT NULL,
 CONSTRAINT [PK_PREFERENCEHAIRSIZE] PRIMARY KEY CLUSTERED 
(
	[PREFERENCEID] ASC,
	[HAIRSIZEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PREFERENCEMUSIQUE]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PREFERENCEMUSIQUE](
	[PREFERENCEID] [smallint] NOT NULL,
	[MUSIQUEID] [smallint] NOT NULL,
 CONSTRAINT [PK_PREFERENCEMUSIQUE] PRIMARY KEY CLUSTERED 
(
	[PREFERENCEID] ASC,
	[MUSIQUEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PREFERENCERELIGION]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PREFERENCERELIGION](
	[PREFERENCEID] [smallint] NOT NULL,
	[RELIGIONID] [smallint] NOT NULL,
 CONSTRAINT [PK_PREFERENCERELIGION] PRIMARY KEY CLUSTERED 
(
	[PREFERENCEID] ASC,
	[RELIGIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PREFERENCESTYLE]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PREFERENCESTYLE](
	[PREFERENCEID] [smallint] NOT NULL,
	[STYLEID] [smallint] NOT NULL,
 CONSTRAINT [PK_PREFERENCESTYLE] PRIMARY KEY CLUSTERED 
(
	[PREFERENCEID] ASC,
	[STYLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROFIL]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFIL](
	[PROFILID] [smallint] IDENTITY(1,1) NOT NULL,
	[PROFILNAME] [char](64) NOT NULL,
	[PROFILDESCRIPTION] [char](255) NOT NULL,
	[PROFILVALUE] [smallint] NOT NULL,
 CONSTRAINT [PK_PROFIL] PRIMARY KEY CLUSTERED 
(
	[PROFILID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROFILPREFERENCE]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFILPREFERENCE](
	[PREFERENCEID] [smallint] NOT NULL,
	[PROFILID] [smallint] NOT NULL,
 CONSTRAINT [PK_PROFILPREFERENCE] PRIMARY KEY CLUSTERED 
(
	[PREFERENCEID] ASC,
	[PROFILID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUESTION]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUESTION](
	[QUESTIONID] [smallint] IDENTITY(1,1) NOT NULL,
	[QUESTIONTEXT] [varchar](128) NOT NULL,
 CONSTRAINT [PK_QUESTION] PRIMARY KEY CLUSTERED 
(
	[QUESTIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RELIGION]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RELIGION](
	[RELIGIONID] [smallint] IDENTITY(1,1) NOT NULL,
	[RELIGIONNAME] [char](32) NOT NULL,
 CONSTRAINT [PK_RELIGION] PRIMARY KEY CLUSTERED 
(
	[RELIGIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEXE]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEXE](
	[SEXEID] [smallint] IDENTITY(1,1) NOT NULL,
	[SEXENAME] [char](32) NOT NULL,
 CONSTRAINT [PK_SEXE] PRIMARY KEY CLUSTERED 
(
	[SEXEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEXUALITY]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEXUALITY](
	[SEXUALITYID] [smallint] IDENTITY(1,1) NOT NULL,
	[SEXUALITYNAME] [char](32) NOT NULL,
 CONSTRAINT [PK_SEXUALITY] PRIMARY KEY CLUSTERED 
(
	[SEXUALITYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STYLE]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STYLE](
	[STYLEID] [smallint] IDENTITY(1,1) NOT NULL,
	[STYLENAME] [char](32) NOT NULL,
 CONSTRAINT [PK_STYLE] PRIMARY KEY CLUSTERED 
(
	[STYLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBSCRIPTION]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBSCRIPTION](
	[SUBSCRIPTIONID] [smallint] IDENTITY(1,1) NOT NULL,
	[SUBSCRIPTIONNAME] [char](32) NOT NULL,
	[SUBSCRIPTIONPRICE] [money] NOT NULL,
	[SUBSCRIPTIONDATE] [datetime] NOT NULL,
 CONSTRAINT [PK_SUBSCRIPTION] PRIMARY KEY CLUSTERED 
(
	[SUBSCRIPTIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAG]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAG](
	[TAGID] [smallint] IDENTITY(1,1) NOT NULL,
	[TAGNAME] [char](32) NOT NULL,
 CONSTRAINT [PK_TAG] PRIMARY KEY CLUSTERED 
(
	[TAGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TALK]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TALK](
	[TALKID] [smallint] IDENTITY(1,1) NOT NULL,
	[ID] [nvarchar](450) NOT NULL,
	[ID_USER2TALK] [nvarchar](450) NOT NULL,
	[TALKNAME] [char](32) NOT NULL,
 CONSTRAINT [PK_TALK] PRIMARY KEY CLUSTERED 
(
	[TALKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USEREXTERNALSERVICES]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USEREXTERNALSERVICES](
	[EXTERNALSERVICEID] [smallint] NOT NULL,
	[ID] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_USEREXTERNALSERVICES] PRIMARY KEY CLUSTERED 
(
	[EXTERNALSERVICEID] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERNEWSLETTER]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERNEWSLETTER](
	[NEWSLETTERID] [smallint] NOT NULL,
	[ID] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_USERNEWSLETTER] PRIMARY KEY CLUSTERED 
(
	[NEWSLETTERID] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERPREFERENCE]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERPREFERENCE](
	[PREFERENCEID] [smallint] NOT NULL,
	[ID] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_USERPREFERENCE] PRIMARY KEY CLUSTERED 
(
	[PREFERENCEID] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERPROFIL]    Script Date: 29-03-2020 18:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERPROFIL](
	[PROFILID] [smallint] NOT NULL,
	[ID] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_USERPROFIL] PRIMARY KEY CLUSTERED 
(
	[PROFILID] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 29-03-2020 18:11:14 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 29-03-2020 18:11:14 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 29-03-2020 18:11:14 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 29-03-2020 18:11:14 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 29-03-2020 18:11:14 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 29-03-2020 18:11:14 ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 29-03-2020 18:11:14 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [Birthday]
GO
ALTER TABLE [dbo].[ANSWER]  WITH CHECK ADD  CONSTRAINT [FK_ANSWER_PROFIL] FOREIGN KEY([PROFILID])
REFERENCES [dbo].[PROFIL] ([PROFILID])
GO
ALTER TABLE [dbo].[ANSWER] CHECK CONSTRAINT [FK_ANSWER_PROFIL]
GO
ALTER TABLE [dbo].[ANSWER]  WITH CHECK ADD  CONSTRAINT [FK_ANSWER_QUESTION] FOREIGN KEY([QUESTIONID])
REFERENCES [dbo].[QUESTION] ([QUESTIONID])
GO
ALTER TABLE [dbo].[ANSWER] CHECK CONSTRAINT [FK_ANSWER_QUESTION]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_SEXE] FOREIGN KEY([SEXEID])
REFERENCES [dbo].[SEXE] ([SEXEID])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_SEXE]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_SUBSCRIPTION] FOREIGN KEY([SUBSCRIPTIONID])
REFERENCES [dbo].[SUBSCRIPTION] ([SUBSCRIPTIONID])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_SUBSCRIPTION]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[MESSAGE]  WITH CHECK ADD  CONSTRAINT [FK_MESSAGE_ASPNETUSERS] FOREIGN KEY([ID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[MESSAGE] CHECK CONSTRAINT [FK_MESSAGE_ASPNETUSERS]
GO
ALTER TABLE [dbo].[MESSAGE]  WITH CHECK ADD  CONSTRAINT [FK_MESSAGE_TALK] FOREIGN KEY([TALKID])
REFERENCES [dbo].[TALK] ([TALKID])
GO
ALTER TABLE [dbo].[MESSAGE] CHECK CONSTRAINT [FK_MESSAGE_TALK]
GO
ALTER TABLE [dbo].[PICTURE]  WITH CHECK ADD  CONSTRAINT [FK_PICTURE_ASPNETUSERS] FOREIGN KEY([ID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[PICTURE] CHECK CONSTRAINT [FK_PICTURE_ASPNETUSERS]
GO
ALTER TABLE [dbo].[PICTURETAG]  WITH CHECK ADD  CONSTRAINT [FK_PICTURETAG_PICTURE] FOREIGN KEY([PICTUREID])
REFERENCES [dbo].[PICTURE] ([PICTUREID])
GO
ALTER TABLE [dbo].[PICTURETAG] CHECK CONSTRAINT [FK_PICTURETAG_PICTURE]
GO
ALTER TABLE [dbo].[PICTURETAG]  WITH CHECK ADD  CONSTRAINT [FK_PICTURETAG_TAG] FOREIGN KEY([TAGID])
REFERENCES [dbo].[TAG] ([TAGID])
GO
ALTER TABLE [dbo].[PICTURETAG] CHECK CONSTRAINT [FK_PICTURETAG_TAG]
GO
ALTER TABLE [dbo].[PREFERENCE]  WITH CHECK ADD  CONSTRAINT [FK_PREFERENCE_SEXUALITY] FOREIGN KEY([SEXUALITYID])
REFERENCES [dbo].[SEXUALITY] ([SEXUALITYID])
GO
ALTER TABLE [dbo].[PREFERENCE] CHECK CONSTRAINT [FK_PREFERENCE_SEXUALITY]
GO
ALTER TABLE [dbo].[PREFERENCECORPULENCE]  WITH CHECK ADD  CONSTRAINT [FK_PREFERENCECORPULENCE_CORPULENCE] FOREIGN KEY([CORPULENCEID])
REFERENCES [dbo].[CORPULENCE] ([CORPULENCEID])
GO
ALTER TABLE [dbo].[PREFERENCECORPULENCE] CHECK CONSTRAINT [FK_PREFERENCECORPULENCE_CORPULENCE]
GO
ALTER TABLE [dbo].[PREFERENCECORPULENCE]  WITH CHECK ADD  CONSTRAINT [FK_PREFERENCECORPULENCE_PREFERENCE] FOREIGN KEY([PREFERENCEID])
REFERENCES [dbo].[PREFERENCE] ([PREFERENCEID])
GO
ALTER TABLE [dbo].[PREFERENCECORPULENCE] CHECK CONSTRAINT [FK_PREFERENCECORPULENCE_PREFERENCE]
GO
ALTER TABLE [dbo].[PREFERENCEHAIRCOLOR]  WITH CHECK ADD  CONSTRAINT [FK_PREFERENCEHAIRCOLOR_HAIRCOLOR] FOREIGN KEY([HAIRCOLORID])
REFERENCES [dbo].[HAIRCOLOR] ([HAIRCOLORID])
GO
ALTER TABLE [dbo].[PREFERENCEHAIRCOLOR] CHECK CONSTRAINT [FK_PREFERENCEHAIRCOLOR_HAIRCOLOR]
GO
ALTER TABLE [dbo].[PREFERENCEHAIRCOLOR]  WITH CHECK ADD  CONSTRAINT [FK_PREFERENCEHAIRCOLOR_PREFERENCE] FOREIGN KEY([PREFERENCEID])
REFERENCES [dbo].[PREFERENCE] ([PREFERENCEID])
GO
ALTER TABLE [dbo].[PREFERENCEHAIRCOLOR] CHECK CONSTRAINT [FK_PREFERENCEHAIRCOLOR_PREFERENCE]
GO
ALTER TABLE [dbo].[PREFERENCEHAIRSIZE]  WITH CHECK ADD  CONSTRAINT [FK_PREFERENCEHAIRSIZE_HAIRSIZE] FOREIGN KEY([HAIRSIZEID])
REFERENCES [dbo].[HAIRSIZE] ([HAIRSIZEID])
GO
ALTER TABLE [dbo].[PREFERENCEHAIRSIZE] CHECK CONSTRAINT [FK_PREFERENCEHAIRSIZE_HAIRSIZE]
GO
ALTER TABLE [dbo].[PREFERENCEHAIRSIZE]  WITH CHECK ADD  CONSTRAINT [FK_PREFERENCEHAIRSIZE_PREFERENCE] FOREIGN KEY([PREFERENCEID])
REFERENCES [dbo].[PREFERENCE] ([PREFERENCEID])
GO
ALTER TABLE [dbo].[PREFERENCEHAIRSIZE] CHECK CONSTRAINT [FK_PREFERENCEHAIRSIZE_PREFERENCE]
GO
ALTER TABLE [dbo].[PREFERENCEMUSIQUE]  WITH CHECK ADD  CONSTRAINT [FK_PREFERENCEMUSIQUE_MUSIQUE] FOREIGN KEY([MUSIQUEID])
REFERENCES [dbo].[MUSIQUE] ([MUSIQUEID])
GO
ALTER TABLE [dbo].[PREFERENCEMUSIQUE] CHECK CONSTRAINT [FK_PREFERENCEMUSIQUE_MUSIQUE]
GO
ALTER TABLE [dbo].[PREFERENCEMUSIQUE]  WITH CHECK ADD  CONSTRAINT [FK_PREFERENCEMUSIQUE_PREFERENCE] FOREIGN KEY([PREFERENCEID])
REFERENCES [dbo].[PREFERENCE] ([PREFERENCEID])
GO
ALTER TABLE [dbo].[PREFERENCEMUSIQUE] CHECK CONSTRAINT [FK_PREFERENCEMUSIQUE_PREFERENCE]
GO
ALTER TABLE [dbo].[PREFERENCERELIGION]  WITH CHECK ADD  CONSTRAINT [FK_PREFERENCERELIGION_PREFERENCE] FOREIGN KEY([PREFERENCEID])
REFERENCES [dbo].[PREFERENCE] ([PREFERENCEID])
GO
ALTER TABLE [dbo].[PREFERENCERELIGION] CHECK CONSTRAINT [FK_PREFERENCERELIGION_PREFERENCE]
GO
ALTER TABLE [dbo].[PREFERENCERELIGION]  WITH CHECK ADD  CONSTRAINT [FK_PREFERENCERELIGION_RELIGION] FOREIGN KEY([RELIGIONID])
REFERENCES [dbo].[RELIGION] ([RELIGIONID])
GO
ALTER TABLE [dbo].[PREFERENCERELIGION] CHECK CONSTRAINT [FK_PREFERENCERELIGION_RELIGION]
GO
ALTER TABLE [dbo].[PREFERENCESTYLE]  WITH CHECK ADD  CONSTRAINT [FK_PREFERENCESTYLE_PREFERENCE] FOREIGN KEY([PREFERENCEID])
REFERENCES [dbo].[PREFERENCE] ([PREFERENCEID])
GO
ALTER TABLE [dbo].[PREFERENCESTYLE] CHECK CONSTRAINT [FK_PREFERENCESTYLE_PREFERENCE]
GO
ALTER TABLE [dbo].[PREFERENCESTYLE]  WITH CHECK ADD  CONSTRAINT [FK_PREFERENCESTYLE_STYLE] FOREIGN KEY([STYLEID])
REFERENCES [dbo].[STYLE] ([STYLEID])
GO
ALTER TABLE [dbo].[PREFERENCESTYLE] CHECK CONSTRAINT [FK_PREFERENCESTYLE_STYLE]
GO
ALTER TABLE [dbo].[PROFILPREFERENCE]  WITH CHECK ADD  CONSTRAINT [FK_PROFILPREFERENCE_PREFERENCE] FOREIGN KEY([PREFERENCEID])
REFERENCES [dbo].[PREFERENCE] ([PREFERENCEID])
GO
ALTER TABLE [dbo].[PROFILPREFERENCE] CHECK CONSTRAINT [FK_PROFILPREFERENCE_PREFERENCE]
GO
ALTER TABLE [dbo].[PROFILPREFERENCE]  WITH CHECK ADD  CONSTRAINT [FK_PROFILPREFERENCE_PROFIL] FOREIGN KEY([PROFILID])
REFERENCES [dbo].[PROFIL] ([PROFILID])
GO
ALTER TABLE [dbo].[PROFILPREFERENCE] CHECK CONSTRAINT [FK_PROFILPREFERENCE_PROFIL]
GO
ALTER TABLE [dbo].[TALK]  WITH CHECK ADD  CONSTRAINT [FK_TALK_ASPNETUSERS] FOREIGN KEY([ID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[TALK] CHECK CONSTRAINT [FK_TALK_ASPNETUSERS]
GO
ALTER TABLE [dbo].[TALK]  WITH CHECK ADD  CONSTRAINT [FK_TALK_ASPNETUSERS1] FOREIGN KEY([ID_USER2TALK])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[TALK] CHECK CONSTRAINT [FK_TALK_ASPNETUSERS1]
GO
ALTER TABLE [dbo].[USEREXTERNALSERVICES]  WITH CHECK ADD  CONSTRAINT [FK_USEREXTERNALSERVICES_ASPNETUSERS] FOREIGN KEY([ID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[USEREXTERNALSERVICES] CHECK CONSTRAINT [FK_USEREXTERNALSERVICES_ASPNETUSERS]
GO
ALTER TABLE [dbo].[USEREXTERNALSERVICES]  WITH CHECK ADD  CONSTRAINT [FK_USEREXTERNALSERVICES_EXTERNALSERVICE] FOREIGN KEY([EXTERNALSERVICEID])
REFERENCES [dbo].[EXTERNALSERVICE] ([EXTERNALSERVICEID])
GO
ALTER TABLE [dbo].[USEREXTERNALSERVICES] CHECK CONSTRAINT [FK_USEREXTERNALSERVICES_EXTERNALSERVICE]
GO
ALTER TABLE [dbo].[USERNEWSLETTER]  WITH CHECK ADD  CONSTRAINT [FK_USERNEWSLETTER_ASPNETUSERS] FOREIGN KEY([ID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[USERNEWSLETTER] CHECK CONSTRAINT [FK_USERNEWSLETTER_ASPNETUSERS]
GO
ALTER TABLE [dbo].[USERNEWSLETTER]  WITH CHECK ADD  CONSTRAINT [FK_USERNEWSLETTER_NEWSLETTER] FOREIGN KEY([NEWSLETTERID])
REFERENCES [dbo].[NEWSLETTER] ([NEWSLETTERID])
GO
ALTER TABLE [dbo].[USERNEWSLETTER] CHECK CONSTRAINT [FK_USERNEWSLETTER_NEWSLETTER]
GO
ALTER TABLE [dbo].[USERPREFERENCE]  WITH CHECK ADD  CONSTRAINT [FK_USERPREFERENCE_ASPNETUSERS] FOREIGN KEY([ID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[USERPREFERENCE] CHECK CONSTRAINT [FK_USERPREFERENCE_ASPNETUSERS]
GO
ALTER TABLE [dbo].[USERPREFERENCE]  WITH CHECK ADD  CONSTRAINT [FK_USERPREFERENCE_PREFERENCE] FOREIGN KEY([PREFERENCEID])
REFERENCES [dbo].[PREFERENCE] ([PREFERENCEID])
GO
ALTER TABLE [dbo].[USERPREFERENCE] CHECK CONSTRAINT [FK_USERPREFERENCE_PREFERENCE]
GO
ALTER TABLE [dbo].[USERPROFIL]  WITH CHECK ADD  CONSTRAINT [FK_USERPROFIL_ASPNETUSERS] FOREIGN KEY([ID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[USERPROFIL] CHECK CONSTRAINT [FK_USERPROFIL_ASPNETUSERS]
GO
ALTER TABLE [dbo].[USERPROFIL]  WITH CHECK ADD  CONSTRAINT [FK_USERPROFIL_PROFIL] FOREIGN KEY([PROFILID])
REFERENCES [dbo].[PROFIL] ([PROFILID])
GO
ALTER TABLE [dbo].[USERPROFIL] CHECK CONSTRAINT [FK_USERPROFIL_PROFIL]
GO
USE [master]
GO
