USE [master]
GO
/****** Object:  Database [LoveMirroring]    Script Date: 24.05.2020 14:52:14 ******/
CREATE DATABASE [LoveMirroring]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LoveMirroring', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\LoveMirroring.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LoveMirroring_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\LoveMirroring_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LoveMirroring].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LoveMirroring]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 24.05.2020 14:52:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Answers]    Script Date: 24.05.2020 14:52:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answers](
	[AnswerId] [smallint] IDENTITY(1,1) NOT NULL,
	[ProfilId] [smallint] NOT NULL,
	[QuestionId] [smallint] NOT NULL,
	[AnswerText] [varchar](128) NOT NULL,
	[AnswerValue] [smallint] NOT NULL,
 CONSTRAINT [PK_ANSWERS] PRIMARY KEY CLUSTERED 
(
	[AnswerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 24.05.2020 14:52:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_ASPNETROLECLAIMS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 24.05.2020 14:52:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[Name] [varchar](256) NULL,
	[NormalizedName] [varchar](256) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 24.05.2020 14:52:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_ASPNETUSERCLAIMS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 24.05.2020 14:52:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [varchar](450) NOT NULL,
	[ProviderKey] [varchar](450) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [text] NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 24.05.2020 14:52:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 24.05.2020 14:52:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[HairColorId] [smallint] NULL,
	[CorpulenceId] [smallint] NULL,
	[SexeId] [smallint] NULL,
	[HairSizeId] [smallint] NULL,
	[SubscriptionId] [smallint] NULL,
	[SexualityId] [smallint] NULL,
	[ReligionId] [smallint] NULL,
	[AccessFailedCount] [int] NOT NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[Birthday] [datetime2](7) NOT NULL,
	[Firstname] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[QuizCompleted] [bit] NOT NULL,
	[AccountCompleted] [bit] NOT NULL,
 CONSTRAINT [PK_ASPNETUSERS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 24.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Corpulences]    Script Date: 24.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Corpulences](
	[CorpulenceId] [smallint] IDENTITY(1,1) NOT NULL,
	[CorpulenceName] [varchar](32) NOT NULL,
 CONSTRAINT [PK_CORPULENCES] PRIMARY KEY CLUSTERED 
(
	[CorpulenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExternalServices]    Script Date: 24.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExternalServices](
	[ExternalServiceId] [smallint] IDENTITY(1,1) NOT NULL,
	[ExternalServiceName] [varchar](32) NOT NULL,
	[ExternalServiceStatus] [bit] NOT NULL,
 CONSTRAINT [PK_EXTERNALSERVICES] PRIMARY KEY CLUSTERED 
(
	[ExternalServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HairColor]    Script Date: 24.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HairColor](
	[HairColorId] [smallint] IDENTITY(1,1) NOT NULL,
	[HairColorName] [varchar](32) NOT NULL,
 CONSTRAINT [PK_HAIRCOLORS] PRIMARY KEY CLUSTERED 
(
	[HairColorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HairSizes]    Script Date: 24.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HairSizes](
	[HairSizeId] [smallint] IDENTITY(1,1) NOT NULL,
	[HairSizeName] [varchar](32) NOT NULL,
 CONSTRAINT [PK_HAIRSIZES] PRIMARY KEY CLUSTERED 
(
	[HairSizeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 24.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageId] [smallint] IDENTITY(1,1) NOT NULL,
	[Id] [nvarchar](450) NOT NULL,
	[TalkId] [smallint] NOT NULL,
	[MessageDate] [datetime] NOT NULL,
	[MessageText] [varchar](128) NOT NULL,
 CONSTRAINT [PK_MESSAGES] PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musics]    Script Date: 24.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musics](
	[MusicId] [smallint] IDENTITY(1,1) NOT NULL,
	[MusicName] [varchar](32) NOT NULL,
	[ArtistName] [varchar](64) NOT NULL,
 CONSTRAINT [PK_MUSICS] PRIMARY KEY CLUSTERED 
(
	[MusicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Newsletters]    Script Date: 24.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Newsletters](
	[NewsletterId] [smallint] IDENTITY(1,1) NOT NULL,
	[NewsletterName] [varchar](32) NOT NULL,
	[NewsletterStatus] [bit] NOT NULL,
 CONSTRAINT [PK_NEWSLETTERS] PRIMARY KEY CLUSTERED 
(
	[NewsletterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pictures]    Script Date: 24.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pictures](
	[PictureId] [smallint] IDENTITY(1,1) NOT NULL,
	[Id] [nvarchar](450) NOT NULL,
	[PictureView] [nvarchar](450) NOT NULL,
	[PictureConfirmed] [bit] NOT NULL,
 CONSTRAINT [PK_PICTURES] PRIMARY KEY CLUSTERED 
(
	[PictureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PictureTag]    Script Date: 24.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PictureTag](
	[PictureId] [smallint] NOT NULL,
	[TagId] [smallint] NOT NULL,
 CONSTRAINT [PK_PICTURETAG] PRIMARY KEY CLUSTERED 
(
	[PictureId] ASC,
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PreferenceCorpulences]    Script Date: 24.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreferenceCorpulences](
	[PreferenceId] [smallint] NOT NULL,
	[CorpulenceId] [smallint] NOT NULL,
 CONSTRAINT [PK_PREFERENCECORPULENCES] PRIMARY KEY CLUSTERED 
(
	[PreferenceId] ASC,
	[CorpulenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PreferenceHairColors]    Script Date: 24.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreferenceHairColors](
	[PreferenceId] [smallint] NOT NULL,
	[HairColorId] [smallint] NOT NULL,
 CONSTRAINT [PK_PREFERENCEHAIRCOLORS] PRIMARY KEY CLUSTERED 
(
	[PreferenceId] ASC,
	[HairColorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PreferenceHairSizes]    Script Date: 24.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreferenceHairSizes](
	[PreferenceId] [smallint] NOT NULL,
	[HairSizeId] [smallint] NOT NULL,
 CONSTRAINT [PK_PREFERENCEHAIRSIZES] PRIMARY KEY CLUSTERED 
(
	[PreferenceId] ASC,
	[HairSizeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PreferenceMusics]    Script Date: 24.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreferenceMusics](
	[PreferenceId] [smallint] NOT NULL,
	[MusicId] [smallint] NOT NULL,
 CONSTRAINT [PK_PREFERENCEMUSICS] PRIMARY KEY CLUSTERED 
(
	[PreferenceId] ASC,
	[MusicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PreferenceReligions]    Script Date: 24.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreferenceReligions](
	[PreferenceId] [smallint] NOT NULL,
	[ReligionId] [smallint] NOT NULL,
 CONSTRAINT [PK_PREFERENCERELIGIONS] PRIMARY KEY CLUSTERED 
(
	[PreferenceId] ASC,
	[ReligionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Preferences]    Script Date: 24.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Preferences](
	[PreferenceId] [smallint] IDENTITY(1,1) NOT NULL,
	[Id] [nvarchar](450) NOT NULL,
	[SexualityId] [smallint] NOT NULL,
	[AgeMin] [smallint] NOT NULL,
	[AgeMax] [smallint] NOT NULL,
 CONSTRAINT [PK_PREFERENCES] PRIMARY KEY CLUSTERED 
(
	[PreferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PreferenceStyles]    Script Date: 24.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreferenceStyles](
	[PreferenceId] [smallint] NOT NULL,
	[StyleId] [smallint] NOT NULL,
 CONSTRAINT [PK_PREFERENCESTYLES] PRIMARY KEY CLUSTERED 
(
	[PreferenceId] ASC,
	[StyleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profils]    Script Date: 24.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profils](
	[ProfilId] [smallint] IDENTITY(1,1) NOT NULL,
	[ProfilName] [varchar](32) NOT NULL,
	[ProfilDescription] [text] NOT NULL,
 CONSTRAINT [PK_PROFILS] PRIMARY KEY CLUSTERED 
(
	[ProfilId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 24.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionId] [smallint] IDENTITY(1,1) NOT NULL,
	[QuestionText] [varchar](128) NOT NULL,
 CONSTRAINT [PK_QUESTIONS] PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Religions]    Script Date: 24.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Religions](
	[ReligionId] [smallint] IDENTITY(1,1) NOT NULL,
	[ReligionName] [varchar](32) NOT NULL,
 CONSTRAINT [PK_RELIGIONS] PRIMARY KEY CLUSTERED 
(
	[ReligionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[ContactRequests]    Script Date: 27.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactRequests](
	[RequestId] [smallint] IDENTITY(1,1) NOT NULL,
	[RequestDate] [datetime] NOT NULL,
	[RequestText] [text] NOT NULL,
	[Id] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_CONTACTREQUESTS] PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
ALTER TABLE [dbo].[ContactRequests]  WITH CHECK ADD  CONSTRAINT [FK_CONTACTREQUESTS_ASPNETUSERS] FOREIGN KEY([ID])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
/****** Object:  Table [dbo].[AnswerRequests]    Script Date: 27.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnswerRequests](
	[AnswerId] [smallint] IDENTITY(1,1) NOT NULL,
	[AnswerDate] [datetime] NOT NULL,
	[AnswerText] [text] NOT NULL,
	[Id] [nvarchar](450) NOT NULL,
	[RequestId] [smallint] NOT NULL,
 CONSTRAINT [PK_ANSWERREQUESTS] PRIMARY KEY CLUSTERED 
(
	[AnswerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AnswerRequests]  WITH CHECK ADD  CONSTRAINT [FK_ANSWERREQUESTS_CONTACTREQUESTS] FOREIGN KEY([REQUESTID])
REFERENCES [dbo].[ContactRequests] ([RequestId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AnswerRequests]  WITH CHECK ADD  CONSTRAINT [FK_ANSWERREQUESTS_ASPNETUSERS] FOREIGN KEY([ID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
/****** Object:  Table [dbo].[Sexes]    Script Date: 24.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sexes](
	[SexeId] [smallint] IDENTITY(1,1) NOT NULL,
	[SexeName] [varchar](32) NOT NULL,
 CONSTRAINT [PK_SEXES] PRIMARY KEY CLUSTERED 
(
	[SexeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sexualities]    Script Date: 24.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sexualities](
	[SexualityId] [smallint] IDENTITY(1,1) NOT NULL,
	[SexualityName] [varchar](32) NOT NULL,
 CONSTRAINT [PK_SEXUALITIES] PRIMARY KEY CLUSTERED 
(
	[SexualityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Styles]    Script Date: 24.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Styles](
	[StyleId] [smallint] IDENTITY(1,1) NOT NULL,
	[StyleName] [varchar](32) NOT NULL,
 CONSTRAINT [PK_STYLES] PRIMARY KEY CLUSTERED 
(
	[StyleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscriptions]    Script Date: 24.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscriptions](
	[SubscriptionId] [smallint] IDENTITY(1,1) NOT NULL,
	[SubscriptionName] [varchar](32) NOT NULL,
	[SubscriptionPrice] [money] NOT NULL,
	[SubscriptionDate] [datetime] NOT NULL,
 CONSTRAINT [PK_SUBSCRIPTIONS] PRIMARY KEY CLUSTERED 
(
	[SubscriptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 24.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[TagId] [smallint] IDENTITY(1,1) NOT NULL,
	[TagName] [varchar](32) NOT NULL,
 CONSTRAINT [PK_TAGS] PRIMARY KEY CLUSTERED 
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Talks]    Script Date: 24.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Talks](
	[TalkId] [smallint] IDENTITY(1,1) NOT NULL,
	[Id] [nvarchar](450) NOT NULL,
	[IdUser2Talk] [nvarchar](450) NOT NULL,
	[TalkName] [varchar](64) NOT NULL,
 CONSTRAINT [PK_TALKS] PRIMARY KEY CLUSTERED 
(
	[TalkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserExternalServices]    Script Date: 24.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserExternalServices](
	[ExternalServiceId] [smallint] NOT NULL,
	[Id] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_USEREXTERNALSERVICES] PRIMARY KEY CLUSTERED 
(
	[ExternalServiceId] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLikes]    Script Date: 24.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLikes](
	[Id] [nvarchar](450) NOT NULL,
	[ID_1] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_USERLIKES] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[ID_1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMusics]    Script Date: 24.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMusics](
	[Id] [nvarchar](450) NOT NULL,
	[MusicId] [smallint] NOT NULL,
 CONSTRAINT [PK_USERMUSICS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[MusicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserNewsletters]    Script Date: 24.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserNewsletters](
	[NewsletterId] [smallint] NOT NULL,
	[Id] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_USERNEWSLETTERS] PRIMARY KEY CLUSTERED 
(
	[NewsletterId] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProfils]    Script Date: 24.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfils](
	[ProfilId] [smallint] NOT NULL,
	[Id] [nvarchar](450) NOT NULL,
	[UserProfilValue] [smallint] NULL,
 CONSTRAINT [PK_USERPROFILS] PRIMARY KEY CLUSTERED 
(
	[ProfilId] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserStyles]    Script Date: 24.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserStyles](
	[Id] [nvarchar](450) NOT NULL,
	[StyleId] [smallint] NOT NULL,
 CONSTRAINT [PK_USERSTYLES] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[StyleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSubscriptions]    Script Date: 24.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSubscriptions](
	[UserSubscriptionsID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](450) NULL,
	[UserSubscriptionsDATE] [datetime] NOT NULL,
	[UserSubscriptionsAmount] [decimal](18, 0) NOT NULL,
	[SubscriptionsID] [smallint] NOT NULL,
 CONSTRAINT [PK_UserSubscriptionsIDID] PRIMARY KEY CLUSTERED 
(
	[UserSubscriptionsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTraces]    Script Date: 24.05.2020 14:52:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTraces](
	[LOGID] [smallint] IDENTITY(1,1) NOT NULL,
	[ID] [nvarchar](450) NULL,
	[LOGDATE] [datetime] NOT NULL,
	[PAGEVISITED] [varchar](128) NOT NULL,
	[IPADRESS] [varchar](128) NOT NULL,
 CONSTRAINT [PK_USERTRACES] PRIMARY KEY CLUSTERED 
(
	[LOGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Answers] ON 

INSERT [dbo].[Answers] ([AnswerId], [ProfilId], [QuestionId], [AnswerText], [AnswerValue]) VALUES (2, 1, 1, N'sensible, chaleureux, compatissant', 1)
INSERT [dbo].[Answers] ([AnswerId], [ProfilId], [QuestionId], [AnswerText], [AnswerValue]) VALUES (4, 3, 1, N'logique, responsable, organisé, pragmatique, sérieux, ordonné, efficace', 3)
INSERT [dbo].[Answers] ([AnswerId], [ProfilId], [QuestionId], [AnswerText], [AnswerValue]) VALUES (5, 4, 1, N'conscencieux, engagé, observateur, personne de parole, défend son point de vue avec férocité', 4)
SET IDENTITY_INSERT [dbo].[Answers] OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [ConcurrencyStamp], [Name], [NormalizedName]) VALUES (N'Administrateur', NULL, N'Administrateur', N'ADMINISTRATEUR')
INSERT [dbo].[AspNetRoles] ([Id], [ConcurrencyStamp], [Name], [NormalizedName]) VALUES (N'Utilisateur', NULL, N'Utilisateur', N'UTILISATEUR')
GO
SET IDENTITY_INSERT [dbo].[AspNetUserClaims] ON 

INSERT [dbo].[AspNetUserClaims] ([Id], [UserId], [ClaimType], [ClaimValue]) VALUES (5, N'452baaab-f016-4fa0-982b-0b11b2107c10', N'name', N'Sébastien Berger')
INSERT [dbo].[AspNetUserClaims] ([Id], [UserId], [ClaimType], [ClaimValue]) VALUES (6, N'452baaab-f016-4fa0-982b-0b11b2107c10', N'email', N'zibeug@gmail.com')
SET IDENTITY_INSERT [dbo].[AspNetUserClaims] OFF
GO
INSERT [dbo].[AspNetUserLogins] ([LoginProvider], [ProviderKey], [UserId], [ProviderDisplayName]) VALUES (N'Facebook', N'3000327263387339', N'452baaab-f016-4fa0-982b-0b11b2107c10', N'Facebook')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'452baaab-f016-4fa0-982b-0b11b2107c10', N'Utilisateur')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'8bb0af69-13f2-4510-906f-b3df199283ec', N'Utilisateur')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'b30b3d6a-f2f7-4742-a51b-3fa001fcbb9e', N'Utilisateur')
GO
SET IDENTITY_INSERT [dbo].[Corpulences] ON 

INSERT [dbo].[Corpulences] ([CorpulenceId], [CorpulenceName]) VALUES (1, N'Enrobé')
INSERT [dbo].[Corpulences] ([CorpulenceId], [CorpulenceName]) VALUES (2, N'Maigre')
INSERT [dbo].[Corpulences] ([CorpulenceId], [CorpulenceName]) VALUES (3, N'Sportif')
SET IDENTITY_INSERT [dbo].[Corpulences] OFF
GO
SET IDENTITY_INSERT [dbo].[HairColor] ON 

INSERT [dbo].[HairColor] ([HairColorId], [HairColorName]) VALUES (1, N'Rouge')
INSERT [dbo].[HairColor] ([HairColorId], [HairColorName]) VALUES (2, N'Noir')
INSERT [dbo].[HairColor] ([HairColorId], [HairColorName]) VALUES (3, N'Brun')
SET IDENTITY_INSERT [dbo].[HairColor] OFF
GO
SET IDENTITY_INSERT [dbo].[HairSizes] ON 

INSERT [dbo].[HairSizes] ([HairSizeId], [HairSizeName]) VALUES (1, N'Court')
INSERT [dbo].[HairSizes] ([HairSizeId], [HairSizeName]) VALUES (2, N'Long')
INSERT [dbo].[HairSizes] ([HairSizeId], [HairSizeName]) VALUES (3, N'Volumineux')
SET IDENTITY_INSERT [dbo].[HairSizes] OFF
GO
INSERT [dbo].[PreferenceCorpulences] ([PreferenceId], [CorpulenceId]) VALUES (1, 1)
GO
INSERT [dbo].[PreferenceHairColors] ([PreferenceId], [HairColorId]) VALUES (1, 1)
GO
INSERT [dbo].[PreferenceHairSizes] ([PreferenceId], [HairSizeId]) VALUES (1, 1)
GO
INSERT [dbo].[PreferenceReligions] ([PreferenceId], [ReligionId]) VALUES (1, 1)
GO
SET IDENTITY_INSERT [dbo].[Preferences] ON 

INSERT [dbo].[Preferences] ([PreferenceId], [Id], [SexualityId], [AgeMin], [AgeMax]) VALUES (1, N'e62eaa53-f67b-43aa-b27d-8a9d2662624e', 2, 18, 30)
SET IDENTITY_INSERT [dbo].[Preferences] OFF
GO
INSERT [dbo].[PreferenceStyles] ([PreferenceId], [StyleId]) VALUES (1, 1)
GO
SET IDENTITY_INSERT [dbo].[Profils] ON 

INSERT [dbo].[Profils] ([ProfilId], [ProfilName], [ProfilDescription]) VALUES (1, N'Empathique', N'Empathique')
INSERT [dbo].[Profils] ([ProfilId], [ProfilName], [ProfilDescription]) VALUES (3, N'Travaillomane', N'Travaillomane')
INSERT [dbo].[Profils] ([ProfilId], [ProfilName], [ProfilDescription]) VALUES (4, N'Persévérant', N'Persévérant')
SET IDENTITY_INSERT [dbo].[Profils] OFF
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([QuestionId], [QuestionText]) VALUES (1, N'Quels sont vos points fort ?')
INSERT [dbo].[Questions] ([QuestionId], [QuestionText]) VALUES (2, N'Quel est votre activité professionnelle ?')
INSERT [dbo].[Questions] ([QuestionId], [QuestionText]) VALUES (3, N'Quel est sont vos points négatifs ?')
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
SET IDENTITY_INSERT [dbo].[Religions] ON 

INSERT [dbo].[Religions] ([ReligionId], [ReligionName]) VALUES (1, N'Musulman')
INSERT [dbo].[Religions] ([ReligionId], [ReligionName]) VALUES (2, N'Chrétien')
INSERT [dbo].[Religions] ([ReligionId], [ReligionName]) VALUES (3, N'Athé')
SET IDENTITY_INSERT [dbo].[Religions] OFF
GO
SET IDENTITY_INSERT [dbo].[Sexes] ON 

INSERT [dbo].[Sexes] ([SexeId], [SexeName]) VALUES (1, N'Homme')
INSERT [dbo].[Sexes] ([SexeId], [SexeName]) VALUES (2, N'Femme')
SET IDENTITY_INSERT [dbo].[Sexes] OFF
GO
SET IDENTITY_INSERT [dbo].[Sexualities] ON 

INSERT [dbo].[Sexualities] ([SexualityId], [SexualityName]) VALUES (1, N'Hétérosexuel')
INSERT [dbo].[Sexualities] ([SexualityId], [SexualityName]) VALUES (2, N'Homosexuel')
SET IDENTITY_INSERT [dbo].[Sexualities] OFF
GO
SET IDENTITY_INSERT [dbo].[Styles] ON 

INSERT [dbo].[Styles] ([StyleId], [StyleName]) VALUES (1, N'Urban')
INSERT [dbo].[Styles] ([StyleId], [StyleName]) VALUES (2, N'Punk')
INSERT [dbo].[Styles] ([StyleId], [StyleName]) VALUES (3, N'HipHop')
SET IDENTITY_INSERT [dbo].[Styles] OFF
GO
SET IDENTITY_INSERT [dbo].[Subscriptions] ON 

INSERT [dbo].[Subscriptions] ([SubscriptionId], [SubscriptionName], [SubscriptionPrice], [SubscriptionDate]) VALUES (1, N'1 Mois', 10.0000, CAST(N'2020-05-04T00:00:00.000' AS DateTime))
INSERT [dbo].[Subscriptions] ([SubscriptionId], [SubscriptionName], [SubscriptionPrice], [SubscriptionDate]) VALUES (2, N'1 Année', 60.0000, CAST(N'2020-05-04T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Subscriptions] OFF
GO
INSERT [dbo].[UserStyles] ([Id], [StyleId]) VALUES (N'452baaab-f016-4fa0-982b-0b11b2107c10', 1)
INSERT [dbo].[UserStyles] ([Id], [StyleId]) VALUES (N'8bb0af69-13f2-4510-906f-b3df199283ec', 1)
INSERT [dbo].[UserStyles] ([Id], [StyleId]) VALUES (N'b30b3d6a-f2f7-4742-a51b-3fa001fcbb9e', 1)
GO
SET IDENTITY_INSERT [dbo].[UserTraces] ON 

INSERT [dbo].[UserTraces] ([LOGID], [ID], [LOGDATE], [PAGEVISITED], [IPADRESS]) VALUES (4, NULL, CAST(N'2020-04-30T15:47:46.477' AS DateTime), N'SignUp : A User is trying to sign up', N'::1')
INSERT [dbo].[UserTraces] ([LOGID], [ID], [LOGDATE], [PAGEVISITED], [IPADRESS]) VALUES (5, NULL, CAST(N'2020-04-30T15:47:50.730' AS DateTime), N'SignUp : A User is trying to sign up', N'::1')
INSERT [dbo].[UserTraces] ([LOGID], [ID], [LOGDATE], [PAGEVISITED], [IPADRESS]) VALUES (6, NULL, CAST(N'2020-04-30T15:49:00.777' AS DateTime), N'SignUp : A User is trying to sign up', N'::1')
SET IDENTITY_INSERT [dbo].[UserTraces] OFF
GO
SET IDENTITY_INSERT [dbo].[ContactRequests] ON
INSERT INTO [dbo].[ContactRequests] ([RequestDate], [RequestText],[Id]) VALUES (CURRENT_TIMESTAMP,'Test request','452baaab-f016-4fa0-982b-0b11b2107c10')
SET IDENTITY_INSERT [dbo].[ContactRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[AnswerRequests] ON
INSERT INTO [dbo].[AnswerRequests] ([AnswerDate], [AnswerText], [Id], [RequestId]) VALUES (CURRENT_TIMESTAMP, 'test reponse', 'e62eaa53-f67b-43aa-b27d-8a9d2662624e', 1)
INSERT INTO [dbo].[AnswerRequests] ([AnswerDate], [AnswerText], [Id], [RequestId]) VALUES (CURRENT_TIMESTAMP, 'test reponse2', 'e62eaa53-f67b-43aa-b27d-8a9d2662624e', 1)
SET IDENTITY_INSERT [dbo].[AnswerRequests] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [AC_Email]    Script Date: 24.05.2020 14:52:15 ******/
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [AC_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Answers]  WITH CHECK ADD  CONSTRAINT [FK_ANSWERS_PROFILS] FOREIGN KEY([ProfilId])
REFERENCES [dbo].[Profils] ([ProfilId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Answers] CHECK CONSTRAINT [FK_ANSWERS_PROFILS]
GO
ALTER TABLE [dbo].[Answers]  WITH CHECK ADD  CONSTRAINT [FK_ANSWERS_QUESTIONS] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([QuestionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Answers] CHECK CONSTRAINT [FK_ANSWERS_QUESTIONS]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_ASPNETROLECLAIMS_ASPNETROLES] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_ASPNETROLECLAIMS_ASPNETROLES]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_ASPNETUSERCLAIMS_ASPNETUSERS] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_ASPNETUSERCLAIMS_ASPNETUSERS]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_ASPNETUSERLOGINS_ASPNETUSERS] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_ASPNETUSERLOGINS_ASPNETUSERS]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_ASPNETUSERS_CORPULENCES] FOREIGN KEY([CorpulenceId])
REFERENCES [dbo].[Corpulences] ([CorpulenceId])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_ASPNETUSERS_CORPULENCES]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_ASPNETUSERS_HAIRCOLORS] FOREIGN KEY([HairColorId])
REFERENCES [dbo].[HairColor] ([HairColorId])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_ASPNETUSERS_HAIRCOLORS]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_ASPNETUSERS_HAIRSIZES] FOREIGN KEY([HairSizeId])
REFERENCES [dbo].[HairSizes] ([HairSizeId])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_ASPNETUSERS_HAIRSIZES]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_ASPNETUSERS_RELIGION] FOREIGN KEY([ReligionId])
REFERENCES [dbo].[Religions] ([ReligionId])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_ASPNETUSERS_RELIGION]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_ASPNETUSERS_SEXES] FOREIGN KEY([SexeId])
REFERENCES [dbo].[Sexes] ([SexeId])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_ASPNETUSERS_SEXES]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_ASPNETUSERS_SEXUALITIES] FOREIGN KEY([SexualityId])
REFERENCES [dbo].[Sexualities] ([SexualityId])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_ASPNETUSERS_SEXUALITIES]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_ASPNETUSERS_SUBSCRIPTIONS] FOREIGN KEY([SubscriptionId])
REFERENCES [dbo].[Subscriptions] ([SubscriptionId])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_ASPNETUSERS_SUBSCRIPTIONS]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_ASPNETUSERTOKENS_ASPNETUSERS] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_ASPNETUSERTOKENS_ASPNETUSERS]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_MESSAGES_ASPNETUSERS] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_MESSAGES_ASPNETUSERS]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_MESSAGES_TALKS] FOREIGN KEY([TalkId])
REFERENCES [dbo].[Talks] ([TalkId])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_MESSAGES_TALKS]
GO
ALTER TABLE [dbo].[Pictures]  WITH CHECK ADD  CONSTRAINT [FK_PICTURES_ASPNETUSERS] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pictures] CHECK CONSTRAINT [FK_PICTURES_ASPNETUSERS]
GO
ALTER TABLE [dbo].[PictureTag]  WITH CHECK ADD  CONSTRAINT [FK_PICTURETAG_PICTURES] FOREIGN KEY([PictureId])
REFERENCES [dbo].[Pictures] ([PictureId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PictureTag] CHECK CONSTRAINT [FK_PICTURETAG_PICTURES]
GO
ALTER TABLE [dbo].[PictureTag]  WITH CHECK ADD  CONSTRAINT [FK_PICTURETAG_TAGS] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tags] ([TagId])
GO
ALTER TABLE [dbo].[PictureTag] CHECK CONSTRAINT [FK_PICTURETAG_TAGS]
GO
ALTER TABLE [dbo].[PreferenceCorpulences]  WITH CHECK ADD  CONSTRAINT [FK_PREFERENCECORPULENCES_CORPULENCES] FOREIGN KEY([CorpulenceId])
REFERENCES [dbo].[Corpulences] ([CorpulenceId])
GO
ALTER TABLE [dbo].[PreferenceCorpulences] CHECK CONSTRAINT [FK_PREFERENCECORPULENCES_CORPULENCES]
GO
ALTER TABLE [dbo].[PreferenceCorpulences]  WITH CHECK ADD  CONSTRAINT [FK_PREFERENCECORPULENCES_PREFERENCES] FOREIGN KEY([PreferenceId])
REFERENCES [dbo].[Preferences] ([PreferenceId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PreferenceCorpulences] CHECK CONSTRAINT [FK_PREFERENCECORPULENCES_PREFERENCES]
GO
ALTER TABLE [dbo].[PreferenceHairColors]  WITH CHECK ADD  CONSTRAINT [FK_PREFERENCEHAIRCOLORS_HAIRCOLORS] FOREIGN KEY([HairColorId])
REFERENCES [dbo].[HairColor] ([HairColorId])
GO
ALTER TABLE [dbo].[PreferenceHairColors] CHECK CONSTRAINT [FK_PREFERENCEHAIRCOLORS_HAIRCOLORS]
GO
ALTER TABLE [dbo].[PreferenceHairColors]  WITH CHECK ADD  CONSTRAINT [FK_PREFERENCEHAIRCOLORS_PREFERENCES] FOREIGN KEY([PreferenceId])
REFERENCES [dbo].[Preferences] ([PreferenceId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PreferenceHairColors] CHECK CONSTRAINT [FK_PREFERENCEHAIRCOLORS_PREFERENCES]
GO
ALTER TABLE [dbo].[PreferenceHairSizes]  WITH CHECK ADD  CONSTRAINT [FK_PREFERENCEHAIRSIZES_HAIRSIZES] FOREIGN KEY([HairSizeId])
REFERENCES [dbo].[HairSizes] ([HairSizeId])
GO
ALTER TABLE [dbo].[PreferenceHairSizes] CHECK CONSTRAINT [FK_PREFERENCEHAIRSIZES_HAIRSIZES]
GO
ALTER TABLE [dbo].[PreferenceHairSizes]  WITH CHECK ADD  CONSTRAINT [FK_PREFERENCEHAIRSIZES_PREFERENCES] FOREIGN KEY([PreferenceId])
REFERENCES [dbo].[Preferences] ([PreferenceId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PreferenceHairSizes] CHECK CONSTRAINT [FK_PREFERENCEHAIRSIZES_PREFERENCES]
GO
ALTER TABLE [dbo].[PreferenceMusics]  WITH CHECK ADD  CONSTRAINT [FK_PREFERENCEMUSICS_MUSICS] FOREIGN KEY([MusicId])
REFERENCES [dbo].[Musics] ([MusicId])
GO
ALTER TABLE [dbo].[PreferenceMusics] CHECK CONSTRAINT [FK_PREFERENCEMUSICS_MUSICS]
GO
ALTER TABLE [dbo].[PreferenceMusics]  WITH CHECK ADD  CONSTRAINT [FK_PREFERENCEMUSICS_PREFERENCES] FOREIGN KEY([PreferenceId])
REFERENCES [dbo].[Preferences] ([PreferenceId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PreferenceMusics] CHECK CONSTRAINT [FK_PREFERENCEMUSICS_PREFERENCES]
GO
ALTER TABLE [dbo].[PreferenceReligions]  WITH CHECK ADD  CONSTRAINT [FK_PREFERENCERELIGIONS_PREFERENCES] FOREIGN KEY([PreferenceId])
REFERENCES [dbo].[Preferences] ([PreferenceId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PreferenceReligions] CHECK CONSTRAINT [FK_PREFERENCERELIGIONS_PREFERENCES]
GO
ALTER TABLE [dbo].[PreferenceReligions]  WITH CHECK ADD  CONSTRAINT [FK_PREFERENCERELIGIONS_RELIGIONS] FOREIGN KEY([ReligionId])
REFERENCES [dbo].[Religions] ([ReligionId])
GO
ALTER TABLE [dbo].[PreferenceReligions] CHECK CONSTRAINT [FK_PREFERENCERELIGIONS_RELIGIONS]
GO
ALTER TABLE [dbo].[Preferences]  WITH CHECK ADD  CONSTRAINT [FK_PREFERENCES_ASPNETUSERS] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Preferences] CHECK CONSTRAINT [FK_PREFERENCES_ASPNETUSERS]
GO
ALTER TABLE [dbo].[Preferences]  WITH CHECK ADD  CONSTRAINT [FK_PREFERENCES_SEXUALITIES] FOREIGN KEY([SexualityId])
REFERENCES [dbo].[Sexualities] ([SexualityId])
GO
ALTER TABLE [dbo].[Preferences] CHECK CONSTRAINT [FK_PREFERENCES_SEXUALITIES]
GO
ALTER TABLE [dbo].[PreferenceStyles]  WITH CHECK ADD  CONSTRAINT [FK_PREFERENCESTYLES_PREFERENCES] FOREIGN KEY([PreferenceId])
REFERENCES [dbo].[Preferences] ([PreferenceId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PreferenceStyles] CHECK CONSTRAINT [FK_PREFERENCESTYLES_PREFERENCES]
GO
ALTER TABLE [dbo].[PreferenceStyles]  WITH CHECK ADD  CONSTRAINT [FK_PREFERENCESTYLES_STYLES] FOREIGN KEY([StyleId])
REFERENCES [dbo].[Styles] ([StyleId])
GO
ALTER TABLE [dbo].[PreferenceStyles] CHECK CONSTRAINT [FK_PREFERENCESTYLES_STYLES]
GO
ALTER TABLE [dbo].[Talks]  WITH CHECK ADD  CONSTRAINT [FK_TALKS_ASPNETUSERS] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Talks] CHECK CONSTRAINT [FK_TALKS_ASPNETUSERS]
GO
ALTER TABLE [dbo].[Talks]  WITH CHECK ADD  CONSTRAINT [FK_TALKS_ASPNETUSERS1] FOREIGN KEY([IdUser2Talk])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Talks] CHECK CONSTRAINT [FK_TALKS_ASPNETUSERS1]
GO
ALTER TABLE [dbo].[UserExternalServices]  WITH CHECK ADD  CONSTRAINT [FK_USEREXTERNALSERVICES_ASPNETUSERS] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserExternalServices] CHECK CONSTRAINT [FK_USEREXTERNALSERVICES_ASPNETUSERS]
GO
ALTER TABLE [dbo].[UserExternalServices]  WITH CHECK ADD  CONSTRAINT [FK_USEREXTERNALSERVICES_EXTERNALSERVICES] FOREIGN KEY([ExternalServiceId])
REFERENCES [dbo].[ExternalServices] ([ExternalServiceId])
GO
ALTER TABLE [dbo].[UserExternalServices] CHECK CONSTRAINT [FK_USEREXTERNALSERVICES_EXTERNALSERVICES]
GO
ALTER TABLE [dbo].[UserLikes]  WITH CHECK ADD  CONSTRAINT [FK_USERLIKES_ASPNETUSERS] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserLikes] CHECK CONSTRAINT [FK_USERLIKES_ASPNETUSERS]
GO
ALTER TABLE [dbo].[UserLikes]  WITH CHECK ADD  CONSTRAINT [FK_USERLIKES_ASPNETUSERS1] FOREIGN KEY([ID_1])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[UserLikes] CHECK CONSTRAINT [FK_USERLIKES_ASPNETUSERS1]
GO
ALTER TABLE [dbo].[UserMusics]  WITH CHECK ADD  CONSTRAINT [FK_USERMUSICS_ASPNETUSERS] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserMusics] CHECK CONSTRAINT [FK_USERMUSICS_ASPNETUSERS]
GO
ALTER TABLE [dbo].[UserMusics]  WITH CHECK ADD  CONSTRAINT [FK_USERMUSICS_MUSICS] FOREIGN KEY([MusicId])
REFERENCES [dbo].[Musics] ([MusicId])
GO
ALTER TABLE [dbo].[UserMusics] CHECK CONSTRAINT [FK_USERMUSICS_MUSICS]
GO
ALTER TABLE [dbo].[UserNewsletters]  WITH CHECK ADD  CONSTRAINT [FK_USERNEWSLETTERS_ASPNETUSERS] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserNewsletters] CHECK CONSTRAINT [FK_USERNEWSLETTERS_ASPNETUSERS]
GO
ALTER TABLE [dbo].[UserNewsletters]  WITH CHECK ADD  CONSTRAINT [FK_USERNEWSLETTERS_NEWSLETTERS] FOREIGN KEY([NewsletterId])
REFERENCES [dbo].[Newsletters] ([NewsletterId])
GO
ALTER TABLE [dbo].[UserNewsletters] CHECK CONSTRAINT [FK_USERNEWSLETTERS_NEWSLETTERS]
GO
ALTER TABLE [dbo].[UserProfils]  WITH CHECK ADD  CONSTRAINT [FK_USERPROFILS_ASPNETUSERS] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserProfils] CHECK CONSTRAINT [FK_USERPROFILS_ASPNETUSERS]
GO
ALTER TABLE [dbo].[UserProfils]  WITH CHECK ADD  CONSTRAINT [FK_USERPROFILS_PROFILS] FOREIGN KEY([ProfilId])
REFERENCES [dbo].[Profils] ([ProfilId])
GO
ALTER TABLE [dbo].[UserProfils] CHECK CONSTRAINT [FK_USERPROFILS_PROFILS]
GO
ALTER TABLE [dbo].[UserStyles]  WITH CHECK ADD  CONSTRAINT [FK_USERSTYLES_ASPNETUSERS] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserStyles] CHECK CONSTRAINT [FK_USERSTYLES_ASPNETUSERS]
GO
ALTER TABLE [dbo].[UserStyles]  WITH CHECK ADD  CONSTRAINT [FK_USERSTYLES_STYLES] FOREIGN KEY([StyleId])
REFERENCES [dbo].[Styles] ([StyleId])
GO
ALTER TABLE [dbo].[UserStyles] CHECK CONSTRAINT [FK_USERSTYLES_STYLES]
GO
ALTER TABLE [dbo].[UserSubscriptions]  WITH CHECK ADD  CONSTRAINT [FK_Subscriptions_ASPNETUSERS] FOREIGN KEY([SubscriptionsID])
REFERENCES [dbo].[Subscriptions] ([SubscriptionId])
GO
ALTER TABLE [dbo].[UserSubscriptions] CHECK CONSTRAINT [FK_Subscriptions_ASPNETUSERS]
GO
ALTER TABLE [dbo].[UserSubscriptions]  WITH CHECK ADD  CONSTRAINT [FK_UserSubscriptions_ASPNETUSERS] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserSubscriptions] CHECK CONSTRAINT [FK_UserSubscriptions_ASPNETUSERS]
GO
ALTER TABLE [dbo].[UserTraces]  WITH CHECK ADD  CONSTRAINT [FK_USERTRACES_ASPNETUSERS] FOREIGN KEY([ID])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserTraces] CHECK CONSTRAINT [FK_USERTRACES_ASPNETUSERS]
GO
USE [master]
GO
